<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRM_Principal.Properties.Settings.conexionjuno" connectionString="server=10.23.249.209;user id=doctorjuno;password=12345;persistsecurityinfo=True;database=crm"
            providerName="MySql.Data.MySqlClient" />
        <add name="CRM_Principal.Properties.Settings.junodoctorConnectionString"
            connectionString="Data Source=177.228.214.8;Initial Catalog=junodoctor;Persist Security Info=True;User ID=DOCTORJUNIO;Password=junodoctor2020"
            providerName="System.Data.SqlClient" />
        <add name="CRM_Principal.Properties.Settings.junodoctor_clienteConnectionString"
            connectionString="Data Source=177.228.214.8;Initial Catalog=junodoctor_cliente;User ID=DOCTORJUNIO;Password=junodoctor2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>