<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRM_Principal.Properties.Settings.conexionjuno" connectionString="server=10.23.249.209;user id=doctorjuno;password=12345;persistsecurityinfo=True;database=crm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>